@model StanjeObavezeVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-action="Snimi">

    <div class="form-group">
        <span>Obaveza:   @Model.NazivObaveze</span>
    </div>

    <div class="form-group">
        <label>Zavrseno procentualno:</label>
        <input asp-for="ZavrseneProcentualno" />
    </div>

    <input asp-for="StanjeObavezeId" hidden />

    <button type="submit">Snimi</button>
</form>
